@page "/fetchprojects"
@inject HttpClient Http

<h1>Your Projects</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (projects == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Status</th>
                <th>Owner</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ListedProject project in projects)
            {
                <tr>
                    <td>@project.ProjectId</td>
                    <td>@project.Title</td>
                    <td>@project.Status</td>
                    @*<td>@project.Owner</td>*@
                    <td>
                        <select class="form-control" onchange="@CountryClicked">
                            <option value="">@project.Owner</option>
                            @foreach (var owner in owners)
                            {
                                <option value="@owner">@owner</option>
                            }
                        </select>
                    </td>
                    <td>@project.Comment</td>
                </tr>
            }
        </tbody>
    </table>
}

@functions {
    ListedProject[] projects;
    string[] owners;

    protected override async Task OnInitAsync()
    {
        projects = await Http.GetJsonAsync<ListedProject[]>("sample-data/projects.json");
        owners = await Http.GetJsonAsync<string[]>("sample-data/owners.json");
    }

    protected async void CountryClicked(UIChangeEventArgs countryEvent)
    {
       
    }




    class ListedProject
    {
        public int ProjectId { get; set; }
        public string Title { get; set; }
        public string Comment { get; set; }
        public string Owner { get; set; }
        public string Status { get; set; }
    }
}
